<html>

<head>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'datastyle.css')}}">
</head>
<body>
    <nav id = "navbar">
        <ul>
            <li> <a href={{url_for('homepage')}}> Home </a></li>
            <li> <a href={{url_for('statement_about_our_data')}}> Data </a></li>
            <li> <a href={{url_for('helper_page')}}> Help </a></li>
        </ul>
    </nav>

    <h1>Results: {{heading}}</h1>

    {% for line in webpage%} 
    <p> {{line}} </p> <br>
    {% endfor %}
    <p>{{function}}</p>
    <p>{{c}}</p>

</body>

</html>