<html>

<head>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'datastyle.css')}}">
    <title> Help Page</title>
</head>

<body>

    <ul>
        <li> <a href={{url_for('homepage')}}> Home </a></li>
        <li> <a href={{url_for('statement_about_our_data')}}> Data </a></li>
        <li> <a href={{url_for('display_out_data')}}> Options </a>
        <li>
    </ul>

    <h1> Help Page!</h1>
    <h3> This page is a resource for users to understand our website. </h3>

</body>

</html>