<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    <title> World Bank Financial Data Website</title>
</head>

<body>
    <nav id = "navbar">
        <ul>
            <li> <a href={{url_for('homepage')}}> Home </a></li>
            <li> <a href={{url_for('statement_about_our_data')}}> Data </a></li>
            <li> <a href={{url_for('helper_page')}}> Help </a></li>
        </ul>
    </nav>

    <h1> Page not found </h1>

    <p> """You must have typed in the wrong route. Remember, to use this website, either: <br />
        1. Type in /four_stat_summary/[country name], e.g: /four_stat_summary/Nigeria <br />
        2. Type in /financial_account_comparison/[country name], e.g: /financial_account_comparison/Mexico <br />
        3. Type in /age_education_comparison/[country_name], e.g: /age_education_comparison/Malawi""" 
    </p>
</body>
</html>